language: python

cache:
  directories:
  - tests/bash-versions

addons:
  apt:
    packages:
    - python3-pip
    - freebsd-glue

before_script:
- pip3 install docopt termcolor pytest\>=4.4.2 pytest-xdist pytest-pep8
# Skip 4.2.53, it errors out on `$(fn)`
- tests/get_bash.py 3.2 3.2.48 3.2.57 4.0 4.1 4.2 4.3 4.3.30 4.4

script:
- bash --version
- python3 --version
- pytest --bash-version all

notifications:
  email:
    on_success: never
    on_failure: never
